:root{
    --Exo:'Exo',cursive;
    --Mons:'Montserrat',cusive;
}
body, 
input,
textarea {
    font-family:var(--Mons); 
}

.sociallist {
    height: 60%;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: white;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    transition-delay: 1.2s; 
}
.sociallist div{
    margin: 0 .5rem;
    padding: .7rem;
    cursor: pointer;
    border-radius: 50%;
    transition: .5s ease-in-out;
}

.sociallist div img {
    font-size: 1.5rem;
    transition: .4s ease-in-out;
}
.iconback{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.facebook, .linkedin, .instagram, .twitter {
    background-color: #cebbe4cb;
}
.sociallist div:hover img {
    transform: scale(1.3); }

.follow, .followsocial{
    margin-bottom: 10%;
}
.followsocial{
    display:grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;

    

}

.information {
    display: flex;
    margin: 2rem 2rem;
    align-items: center;
    font-size: 1.5rem;
}
.information img{
    margin-right:5px;
}

form{
    padding: 2.3rem 2.2rem;
    z-index: 505;
    overflow: hidden;
    position: relative;
}
.input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}
.contaccontainer {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #fafafa;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactform {
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.title {
    color: #4e1b79;
    font-weight: 500;
    font-size:32px;
    line-height: 1;
    
    
}
.title1{
    
    font-size: 32px;
    color: #4e1b79;
}


.text{
    text-align: center;
    font-size: 25px;
    color: black;   

}
.info{
    margin-top: 35px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1.5rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
    transition: .5s ease-in-out;
    transition-delay: 1s;
}
.contacts{
    position: relative;
    margin-bottom: 15px;
    margin-left: 40px;
    
}
.contactsarea{
    position: relative;
    margin-bottom: 15px;
    margin-left: 40px;
}
.contactsarea .input{
    color: black;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid blue;
    width: 90%;
}
textarea{
    resize: none;
    width: 200px;
    border-radius: 22px;
    height: 150px;
    padding: 8px;
    color: rgb(48, 9, 223);
    font-size: 16px;
    font-family: var(--Exo);
}
textarea:focus{
    outline: 0;
    border:1px solid rgb(48, 9, 223);
}
textarea .input{
    padding: 0.8rem 1.2rem;
    min-height: 100px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
    color:black ;
}

.contacts.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
    
}
.contactinfo {
    padding: 2.3rem 2.2rem;
    position: relative;
    background-color: #cebbe4cb;
    
}

.contactinfo .title {
    color: #4e1b79;
    margin-block: revert;
}

.contacts label::before{
    content: attr(title);
    position: absolute;
    top: 0;
    left: 20px;
    line-height: 44px;
    font-size: 15px;
    color: rgba(48, 9, 223, 0.467);
    transition: 300ms all;
}
.contacts input{
    width: 90%;
    line-height: 45px;
    padding: 0 20px;
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid rgb(48, 9, 223);
    color: rgb(27, 24, 26);
    border-radius: 25px;
}
.contacts input:focus{
    outline: 0;
    border-color:rgb(255, 72, 0); 
}
.contacts input:valid + label::before{

    line-height: 20px;
    font-size: 12px;
    top: -10px;
    background: #fff;
    padding: 0 8px;
    left: 12px;
    content: attr(data-title);
}

.contacts input:focus + label::before{
    line-height: 20px;
    font-size: 12px;
    top: -10px;
    background: #fff;
    color:rgb(255, 72, 0); 
    padding: 0 8px;
    left: 12px;
}

.sendbtn{
        display: inline-block;
        border: none;
        background-color: #4e1b79;
        padding: 1.2rem 4rem;
        color: white;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 10px;
        margin-bottom: 15px;
        margin-left: 40px;
        
}
.sendbtn:hover{
    
    background-image: linear-gradient(to right, #3a3269, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.904);
    transform: scale(1.18); 
    transition: 0.3s all ease-in-out;
    opacity: 0.98;cursor: pointer;
    font-weight: 700;
}
@media (max-width: 727px){
    .contactform {
        grid-template-columns: 1fr;
    }
    .contactinfo{
        display: flex;
    }
    .socialmedia {
        padding: 1.5rem 0 0 0;
    }
    .followsocial,.follow{
        margin:2%;
    }
    .sociallist{
        margin-top: 90px;
    }
.followsocial{
    display: block;
}
    }
@media (max-width:630px){

.follow, .followsocial{
    display: inline-block;
    align-items: center;
    justify-items: center;
    justify-content: center;
} 
}

@media(max-width:545px){

    .contactinfo{
        display: block;
    }
    .follow, .followsocial{
        display: grid;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }
    .sociallist{
        margin-top: 25px;
    }
}